@media (max-width: 992px) {
  .container {
    margin: 0 5%;
  }

  .text_main {
    padding: 1rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }

  .hello h1 {
    font-size: 5rem;
  }

  .hello p, span {
    font-size: 2.5rem;
  }

  .request h2 {
    font-size: 3rem;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  .category {
    padding: 1rem;
  }

  .main {
    padding: 0;
  }

  .hello p, span {
    font-size: 1.7rem;
  }

  .rewiews_item {
    display: flex;
    width: 100%;
    margin: 1rem 0;
  }

  .rewiews_item span.name {
    text-align: left;
  }

  .text {
    padding: 1.5rem;
    width: 75%;
  }

  .request_flex {
    flex-direction: column;
  }

  .request_form {
    width: 100%;
  }

  .map_footer {
    margin-top: 5rem;
  }

}

@media (max-width: 576px) {
  .hello h1 {
    text-align: center;
    font-size: 3rem;
  }

  .hello p, span {
    display: block;
    text-align: center;
  }

  .request h2 {
    font-size: 2rem;
  }

  .grid_advantages {
    grid-template: none;
  }

  .grid_item {
    text-align: center;
  }

  .rewiews_item {
    flex-direction: column;
  }

  .text {
    width: 100%;
    padding: 0;
  }

  .request-bottom .request_form {
    margin: 0 auto;
  }
}
